table {
	border: 3px solid gold;
}

td:hover {
	background-color: lemonchiffon;
	color: black;
}

tr, th {
	background-color: black;
	color: gold;
}

tr, td {
	background-color: peachpuff;
	color: darkslategray;
}